[submodule "extern/pytorch/examples"]
	path = extern/pytorch/examples
	url = https://github.com/pytorch/examples
[submodule "extern/abseil-cpp"]
	path = extern/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
